<div class="index justify-content-center align-items-center">
  <div class="container align-items-center justify-content-center">
    <div class="card login">
      <h1>Login</h1>
      <div id="form" class="container">
        <form action="/login" method="POST">

          <label> User name
            <input type="text" name="username" placeholder="Cook name" />
          </label>

          <label> Password
            <input type="password" name="password" placeholder="********" />
          </label>

          <button type="submit" class="btn btn-success">Log in</button>

          {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
          {{/if}}

        </form>
        <hr>
        <button class="btn btn-secondary"><a href="/signup">Sign up!</a></button>
      </div>
    </div>
  </div>
</div>