<div class="index row justify-content-center align-items-center">
  <div class="container row justify-content-center align-items-center">
    <div class="card login">
      <h1>Login</h1>
      <div id="form" class="container justify-content-right align-items-right">
        <form action="/login" method="POST" class="justify-content-right align-items-right">

          <label> User name
            <input type="text" name="username" placeholder="Cook name" class="form-control"/>
          </label>

          <label> Password
            <input type="password" name="password" placeholder="********" class="form-control"/>
          </label>

          <button type="submit" class="btn btn-success btn-lg">Log in</button>

          {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
          {{/if}}

        </form>
        <hr>
        <button class="btn btn-secondary"><a href="/signup">Sign up!</a></button>
      </div>
    </div>
  </div>
</div>