
<nav class="main-nav navbar-expand-lg">
    <ul class="nav navbar-light">
        <li class="nav-item"><a href="/discover" class="nav-link">Discover</a></li>
        <li class="nav-item"><a href="/recipe/search" class="nav-link">Search</a></li>
        <li class="nav-item"><a href="/my-cookbook" class="nav-link">My Cookbook</a></li>
        <li class="nav-item"><a href="/profile" class="nav-link">My Account</a></li>
        <li class="nav-item"><a href="/recipe/create" class="nav-link">Add a Recipe</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link disabled">Log out</a></li>
    </ul>
</nav>