<div class="index bg-image vh-100">
    <div class="container align-items-center justify-content-center text-center h-100">
        <video class="justify-content-md-center" autoplay muted poster="images/Cover-img.png" style="max-height:100%;">
            <source src="images/Cover-video.webm" type="video/webm">
        </video>

        <div style="bottom: 170px; position: absolute; width: 100vw" class="container d-flex align-items-center justify-content-center text-center">>
            <button class="btn-lg m-3" style="background-color: #afeda1;"> <a href="/login" style="color:#fffaef;">Log
                    in</button>
            <button class="btn-lg m-3" style="background-color: #afeda1;"> <a href="/signup" style="color:#fffaef;">Sign
                    up</button>
        </div>
    </div>
</div>