<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{appTitle}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <link rel="stylesheet" href="/stylesheets/cookbook-style.css">
</head>
   <body>
      {{!-- there's a way to check in the layout if you're logged in, and only display the nav bar if you're logged in. 
      You can create a middleware that would take the user from the session and insert it inside the requested object then you can add that condition in the handelbars.--}}

   <nav class="main-nav">
      <ul>
         <li><a href="/my-cookbook">My cookbook</a></li>
         <li><a href="/recipe/search">Search</a></li>
         <li><a href="/recipe/create">Add a new recipe</a></li>
         <li><a href="/logout">Log out</a></li>
      </ul>
   </nav>

   {{{body}}}

   <script src="/js/script.js"></script>
</body>

</html>