.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 400px;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .card-img-top {
    border-radius: 5px 5px 5px 5px;
    width: 250px;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }