* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vw;
  flex-direction: row;
}

a {
  color: #fffaef !important;
}

h1 {
  color: #8a4e58 !important;
}

nav {
  display: flex;
  background-color: #b1a1ed ;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

datalist {
  display: flex;
}

.mini-avatar {
  height: 30px;
  width: 30px;
}

.index {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #b1a1ed;
}

video {
  position: relative;
  object-fit: cover;
  z-index: -1;
}
.btn-success{
  background-color: #a1edb1 !important;
  border-color: #91d59f !important;
}

.btn-primary {
  background-color: #b1a1ed !important;
  border-color: #8e81be !important;
}

.btn-secondary {
  background-color: #edb1a1 !important;
  border-color: #d59f91 !important;
}