<h1>Main page</h1>

<nav class="main-nav">
  <ul>
    <li><a href="/my-cookbook">My cookbook</a></li>
    <li><a href="/recipe/search">Search</a></li>
    <li><a href="/recipe/create">Add a new recipe</a></li>
    <li><a href="/">Log out</a></li>
  </ul>
</nav>