<h1>Search</h1>
{{!-- Search form --}}
{{#if errorMessage}}
<div class="error-search">
    {{errorMessage}}
</div>
{{/if}}
<div class="search">
    <form action="/recipe/search" method="POST">
        <div class="first-line-search">
            <label>Search:
                <input type="text" name="searchValue" placeholder="Search for a recipe... try: potatos">
            </label>
        </div>
        <div class="second-line-search">
            <label>
                Diet:
                <select name="dietType">
                    <option value=""></option>
                    <option value="Vegan">Vegan</option>
                    <option value="Vegetarian">Vegetarian</option>
                    <option value="Gluten-free">Gluten Free</option>
                </select>
            </label>
        </div>
        <div class="third-line-search">
            <label>
                Level:
                <select name="level">
                    <option value=""></option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Fancy">Fancy</option>
                </select>
            </label>
        </div>
        <button type="submit">Search</button>
    </form>
</div>